{% extends "ground/layout.html" %}
{% load static %}

{% block body %}

{% if message %}
<p> {{ message }} </p>
{% endif %}

<h1>Welcome to the Games Arena, {{nickname}}</h1>

List of all the users currently online
<ul>
{% for player in players_online %}
<li>{{player}}
{% if player != nickname %}
<button class="invite" id=player>Invite to a game!</button>
</li>
{% endif %}
{% endfor %}
</ul>

List of all the users currently not online
<ul>
{% for player in players_offline %}
<li>{{player}}</li>
{% endfor %}
</ul>

 <form action="{% url 'get_in' %}" method="post">
        {% csrf_token %}
        {{buttonForm}}
        <input class="btn btn-primary" type="Submit" value="Still here?">
    </form>

{% endblock %}

{% block script %}
    <script src="{% static 'ground/arena.js' %}"></script>
{% endblock script%}
