{% extends "ground/layout.html" %}
{% load static %}

{% block styles %}
<link href="{% static 'ground/tictactoe.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
{{ room_name|json_script:"room-name" }}

<h1>You will play Tic-Tac-Toe!</h1>
<h2 id="turn">It's your turn!</h2>
{% if message %}
<h3>{{ message }}</h3>
{% endif %}

<div class="container">
    <table>
        <tr>
        {% comment %}
        Check if sqxx == 0. If so, then empty

        {{ board.sq01 }} {{ board.sq02 }}</p> 

        {% endcomment %}
            <td><div class="col4 square noughtscrosses" id="sq00">{{ board.sq00 }}</div></td>
            <td>
                <div class="col4 square noughtscrosses" id="sq01">{{ board.sq01 }}</div>
            </td>
            <td>
                <div class="col4 square noughtscrosses" id="sq02">{{ board.sq02 }}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col4 square noughtscrosses" id="sq10">{{ board.sq10 }}</div>
            </td>
            <td>
                <div class="col4 square noughtscrosses" id="sq11">{{ board.sq11 }}</div>
            </td>
            <td>
                <div class="col4 square noughtscrosses" id="sq12">{{ board.sq12 }}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col4 square noughtscrosses" id="sq20">{{ board.sq20 }}</div>
            </td>
            <td>
                <div class="col4 square noughtscrosses" id="sq21">{{ board.sq21 }}</div>
            </td>
            <td>
                <div class="col4 square noughtscrosses" id="sq22">{{ board.sq22 }}</div>
            </td>
        </tr>
    </table>
</div>
{% if toPlay %}
<p>Please make a move by clicking on a square.</p>
<script>
    document.getElementById('turn').style.display = 'block'
</script>
{% else %}
<p>{{ activePlayer }} to play.</p>
<script>
    document.getElementById('turn').style.display = 'none'
</script>
{% endif %}
<script src="{% static 'ground/tictactoe.js' %}"></script>
{% endblock %}